name: Lint and Test Charts

on: pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  check-for-example-output-changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Check for example output changes
        run: |
          helm template faro-shop k8s/charts/faro-shop > k8s/charts/faro-shop/rendered.yaml
          if [[ -n "$(git status --porcelain)" ]]; then
            git status --porcelain
            git diff
            echo "Rendered Helm chart not up to date. Please run 'helm template faro-shop k8s/charts/faro-shop > k8s/rendered.yaml', examine changes, and commit changes." >&2
            exit 1
          fi

  lint:
    runs-on: ubuntu-latest
    if: ${{ github.head_ref != 'release-please--branches--main' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: v3.14.4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --chart-dirs k8s/charts --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --chart-dirs k8s/charts --charts k8s/charts/faro-shop --target-branch ${{ github.event.repository.default_branch }}

  test:
    needs: lint
    if: ${{ github.head_ref != 'release-please--branches--main' }}
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-latest
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: v3.14.4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --chart-dirs k8s/charts --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Create kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.14.0

      - name: Run chart-testing (install + test)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --chart-dirs k8s/charts --charts k8s/charts/faro-shop --target-branch ${{ github.event.repository.default_branch }}
